

<!-- add a new destination -->


  <a href="/flights">Back to All Flights</a>

<!-- ... details about the flight ... -->

<h1>Flight Details: <%= flight.airline %> - Flight No: <%= flight.flightNo %></h1>



<!-- Form to add a new destination to this flight -->

<h2>Add New Destination</h2>
<form action="/flights/<%= flight._id %>/destinations" method="post">
  <div>
    <label for="airport">Destination Airport:</label>
    <select id="airport" name="airport" required>
      <% 
      var usedAirports = flight.destinations.map(function(destination) { return destination.airport; });
      usedAirports.push(flight.airport);
      var allAirports = ['AUS', 'DFW', 'DEN', 'LAX', 'SAN', 'BWI', 'CLI'];
      allAirports.forEach(function(airport) {
        if (!usedAirports.includes(airport)) {
      %>
        <option value="<%= airport %>"><%= airport %></option>
      <% 
        }
      });
      %>
    </select>
  </div>

  <div>
    <label for="arrival">Arrival Date and Time:</label>
    <input type="datetime-local" id="arrival" name="arrival" required>
  </div>
  <button type="submit">Add Destination</button>
</form>

<h2>Destinations</h2>

<ul>
  <% 
  flight.destinations.sort(function(a, b) {
    return new Date(a.arrival) - new Date(b.arrival);
  }).forEach(function(destination) { 
  %>
    <li><%= destination.airport %> - <%= destination.arrival.toISOString().substring(0, 16).replace('T', ' - ') %></li>
  <% }); %>
</ul>

<br>
<br>
<h1>Create A Ticket</h1>
<a href="/flights/<%= flight._id %>/tickets/new" class="btn">New Ticket</a>

<h2>Current Tickets:</h2>
<% if (flight.tickets && flight.tickets.length > 0) { %>
  <ul>
    <% flight.tickets.forEach(ticket => { %>
      <li>Seat: <%= ticket.seat %>, Price: $<%= ticket.price.toFixed(2) %></li>
    <% }) %>
  </ul>
<% } else { %>
  <p>No tickets booked for this flight yet.</p>
<% } %>


